
html,body, #root { height: 100%; margin: 0px; padding: 0px; }

.App {
  text-align: center;
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.canvas{
	border: 1px solid black;
	height: 300px;
	margin: 5%;
}

.drawingName{
	margin: 2%;
}